 <!-- Modal -->
   <div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="text-danger fa fa-times"></i></button>
                   <h4 class="modal-title"><i class="text-muted fa fa-user-circle"></i> <strong>{{jobService.selectedJob.metaId}}</strong> - Job Name </h4>

                   <!-- Camera Button -->
                   <button type="button" class="btn btn-primary btn-sm center-block"><i class="fa fa-camera fa-2x" aria-hidden="true"></i></button>
               </div>

               <div class="modal-body">
                 <table class="pull-left col-md-8 ">
                     <tbody>
                       <tr>Location: {{jobService.selectedJob.location}}</tr>
                       <tr>Current Status: {{jobService.selectedJob.status}}</tr>
                       <tr></tr>
                       <tr>Contact Info: {{jobService.selectedJob.contactInfo}}</tr>
                       <tr></tr>
                       <tr>Description: {{jobService.selectedJob.description}}</tr>
                     </tbody>
                 </table>

                   <!-- Modal photo -->
                   <div class="col-md-4">
                       <img src="{{imageUrl}}" width="150px" height="150px">
                   </div>

                   <div class="clearfix"></div>
                   <p class="open_info hide">Something</p>
               </div>

               <!-- Job Status -->
               <div>
                   <button type="button" class="btn btn-secondary btn-lg btn-block">{{jobService.currentStatus}}</button>
               </div>

               <div class="modal-footer">

                   <!-- Status button -->
                   <button id='statusBtn' type="button" class="btn btn-primary btn-sm center-block"{{action 'changeStatus' job}}>{{jobService.nextStatus}}</button>
               </div>
           </div>
       </div>
   </div>
